@import "../../../styles/abstract/variables";

.Field {
  &-Label {
    display: block;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
  }

  &-Input_TextArea {
    border: 1px solid $grey;
    border-radius: 8px;
    width: 100%;
    padding: 8px 11.2px;
    font-size: 14px;
    resize: none;
    font-family: Roboto;

    &:focus {
      outline: none;
      box-shadow: 0 0px 2px #7695ec;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: $placeholder;
    }
  }

  textarea.Field-Input_TextArea {
    height: 74px;
  }
}
