@import "../../styles/mixins/media";

.Home {
  main {
    width: 800px;
    margin: 24px auto;
    padding: 0 24px;

    @include mobile {
      width: 100%;
    }

    .PostsList {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
}
